<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="card__image">
        <img src="/img/404.jpg"
            alt="Page Not Found">
    </div>

<%- include('includes/end.ejs') %>